@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-backgroundCards: var(--backgroundCards);
  --color-texto: var(--texto);
}
:root {
  --primary: #1E40AF;
  --background: #363f52;
  --backgroundCards: #363f52;
  --texto: #ffffff;
}   